<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザ認証</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header>
		<h1>サインイン</h1>
	</header>
	<main id="auth">
		<article>
			<form class="form form--auth" action="/signin" metohd="post">
				<input class="input__text--auth" type="text" name="email" placeholder="メールアドレス" /><br />
				<input class="input__text--auth" type="text" name="password" placeholder="パスワード" /><br />
				<button class="input__button--submit">サインイン</button>
			</form>
		</article>
	</main>
	<footer>
		<div id="copyright">&copy; 2025 Java Technical Tranning Course.</div>
	</footer>
</body>
</html>