@charset "utf-8";
@use "./partials/common/" as common;
@forward "./partials/basic";

@mixin setCommonTextBoxStyle {
    margin: 0.5rem 0;
}

@mixin setCommonButtonStyle {
    display: block;
    color: common.$default-font-color;
}

.form {
    width: inherit;
    margin: 0 auto;
    &--auth {
        width: 20rem - 1.25rem * 2;
        padding: 0.25rem 1.25rem;
    }
}

.input {
    // テキストボックスのスタイル
    &__text {
        &--auth {
            @include setCommonTextBoxStyle();
        }
    }
    // ボタンのスタイル
    &__button {
        &--submit {
            @include setCommonButtonStyle();
            margin: 0.75rem auto;
        }
    }
    // リンクのスタイル
    &__link {
        &--signup {
            display: block;
            text-align: center;
        }
    }
}

