@charset "utf-8";

$main-color: #0B1D51;
$sub-color: #725CAD;
$base-color: #8CCDEB;
$accent-color: #FFE3A9;

$default-font-color: dimgray;
$default-border-color: lightgray;
$accent-font-color: tomato;